*{
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: #1f1f1f;
    color: white;
}

.container{
    inline-size: 95%;
}

header{
    border-bottom: 1px solid #343434;
    min-height: 80px;
}

.logo{
    display: inline-block;
    color: #2fb65c;
    font-size: 22px;
    font-weight: 700;
    vertical-align: middle;
}

.menu{
    display: inline-block;
    vertical-align: middle;
    margin-left: 80px;
}

.menu a{
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 18px;
    position: relative;
    margin-right: 40px;
}

.menu a.active::after{
    content: "";
    position: absolute;
    left: 0;
    top: 40px;
    block-size: 3px;
    inline-size: 100%;
    background: #2fb65c;
}

.login-btn{
    display: inline-block;
    vertical-align: middle;
    background: #43a957;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 6px;
    block-size: 40px;
    inline-size: 110px;
    cursor: pointer;
}

.hero{
    min-height: 85vh;
}

.hero-text{
    display: inline-block;
    vertical-align: middle;
}

.small-title{
    font-size: 18px;
    color: #d0d0d0;
}

.hero-text h1{
    font-size: 72px;
    line-height: 1;
    color: #d8d8d8;
}

.hero-text p{
    font-size: 20px;
    color: #9f9f9f;
    line-height: 1.8;
    display: block;
    max-inline-size: 500px;
}

.shop-btn{
    background: #43a957;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border-radius: 6px;
    block-size: 55px;
    inline-size: 180px;
    cursor: pointer;
}

.hero-image{
    display: inline-block;
    vertical-align: middle;
}

.hero-image img{
    block-size: 420px;
}
